{% extends 'shopping/base.html' %}
{% load static %}
{% block metadescription %}

        {{product.description|truncatewords:155}}



{% endblock %}

{% block title %}
{% if category %}
        {{product.name}} - Shopping
{% endif %}
{% endblock %}

{% block content %}
<div class="row my_prod_row_class">
    <div class="mx_auto">
        <p><a href="{% url 'ShoppingApp:allProdCat' %}">Home</a> | <a href="{{product.category.get_url}}" >{{product.category}}</a> | {{product.name}}</p>
    </div>
</div>
<div class="container">
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div style="min-width:13rem;">
        <img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div>
            <h1 class="my_prod_title"><b>{{product.name}}</b></h1>
        <p>${{product.price}}</p>
            <p class="my_title"><b>Product Description</b></p>
        <p class="text-justify ">{{product.description}}</p>
        {% if product.stock <= 0 %}
        <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
        {% else %}
            {% if product.is_tryon_eligible %}

<a class="button" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-camera"></i> &nbsp;Try On
  </a>
             <p>   <div class="collapse" id="collapseExample">
    <div class="card card-body">
<p><a href="{% url 'cart:tryon' %}"><button class="circle-btn" ></button> &nbsp;</a>
    <a href="{% url 'cart:tryon_pink' %}"><button class="circle-btn1"></button> </a>&nbsp;
    <a href="{% url 'cart:tryon_red' %}">   <button class="circle-btn2"></button></a></p>
    </div>
    </div></p>
                {% endif %}
        <a class="button" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
        {% endif %}
    </div>
</div>
    </div>
</div>
    </div>
{% endblock %}
